
@{
    ViewData["Title"] = "User Query";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/js/Area/Admin/ContactManagement/UserQuery.js"></script>
<link href="~/css/Area/Admin/ContactManagement/UserQuery.css" rel="stylesheet" />
<div class="breadcrumb-data-1">
    <div class="row">
        <div class="col-md-6 col-5">
            <div class="breadcrumb-data-3">
                <h3 _ngcontent-hai-c46="">User Query</h3>
            </div>
        </div>
        <div class="col-md-6 col-7">
            <div class="breadcrumb-data-2 d-none d-sm-block">
                <ul>
                    <li><a>Home</a></li>
                    <li><span>/</span></li>
                    <li><a>Contact Management</a></li>
                    <li><span>/</span></li>
                    <li><a>User Query</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="data-container">
    <form id="frmUserQuery">
        <div class="inner-container scroll-form">
            <div id="gridContainer"></div>
        </div>
        <div class="wrapper">
            <div class="showQuery">
                <div><span>User Query</span><i class="la la-times"></i></div>
                <p></p>
            </div>
        </div>
        <div class="wrapper">
            <div class="showQueryReply">
                <div><span>User Query Reply</span><i class="la la-times"></i></div>
                <div class="html-editor"></div>
                <div><div id="btnSaveUserQueryReply"></div></div>
            </div>
        </div>

        <div class="wrapper">
            <div class="showAllQueryReply">
                <div><span>User Query Trails</span><i class="la la-times"></i></div>
                <div class="User-Query-Trails"></div>
            </div>
        </div>
    </form>
</div>




