
@{
    ViewData["Title"] = "MenuList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/js/Area/Admin/MenuManagement/MenuList.js"></script>
<div class="breadcrumb-data-1">
    <div class="row">
        <div class="col-md-6 col-5">
            <div class="breadcrumb-data-3">
                <h3 _ngcontent-hai-c46="">Menu List</h3>
            </div>
        </div>
        <div class="col-md-6 col-7">
            <div class="breadcrumb-data-2 d-none d-sm-block">
                <ul>
                    <li><a>Home</a></li>
                    <li><span>/</span></li>
                    <li><a>Menu Management</a></li>
                    <li><span>/</span></li>
                    <li><a>Menu List</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="data-container">
    <div class="inner-container">
        <form id="frmAddRole" class="scroll-form">
            <div id="gridContainer"></div>
        </form>
    </div>
</div>


