
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/js/Area/Common/Dashboard/Dashboard.js"></script>
<link href="~/css/Common/Dashboard/Dashboard.css" rel="stylesheet" />
<div class="breadcrumb-data-1">
    <div class="row">
        <div class="col-md-6 col-5">
            <div class="breadcrumb-data-3">
                <h3 _ngcontent-hai-c46="">Dashboard</h3>
            </div>
        </div>
        <div class="col-md-6 col-7">
            <div class="breadcrumb-data-2 d-none d-sm-block">
                <ul>
                    <li><a>Home</a></li>
                    <li><span>/</span></li>
                    <li><p>Dashboard</p></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="data-container">
    <div class="inner-container">
        <div class="row">
            <div class="col-md">
                <div class="card-block card-red">
                    <div class="card-block-container">
                        <i class="fas fa-user"></i>
                        <div class="clearfix"></div>
                        <div class="numbers user-count">18976</div>
                        <div class="text">Users</div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card-block card-green">
                    <div class="card-block-container">
                        <i class="fas fa-envelope"></i>
                        <div class="clearfix"></div>
                        <div class="numbers query-count">1976</div>
                        <div class="text">User Query</div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card-block card-yellow">
                    <div class="card-block-container">
                        <i class="fas fa-user-astronaut"></i>
                        <div class="clearfix"></div>
                        <div class="numbers astro-count">1976</div>
                        <div class="text">Astrologers</div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card-block card-blue">
                    <div class="card-block-container">
                        <i class="fas fa-user"></i>
                        <div class="clearfix"></div>
                        <div class="numbers">18976</div>
                        <div class="text">Users</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
