
@{
    ViewData["Title"] = "Zodiac Reports";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/js/Area/Admin/ZodiacManagement/GetZodiacReports.js"></script>
<link href="~/css/Area/Admin/ZodiacManagement/ZodiacReport.css" rel="stylesheet" />

<div class="breadcrumb-data-1">
    <div class="row">
        <div class="col-md-6 col-5">
            <div class="breadcrumb-data-3">
                <h3 _ngcontent-hai-c46="">Zodiac Report</h3>
            </div>
        </div>
        <div class="col-md-6 col-7">
            <div class="breadcrumb-data-2 d-none d-sm-block">
                <ul>
                    <li><a>Home</a></li>
                    <li><span>/</span></li>
                    <li><a>Zodiac Management</a></li>
                    <li><span>/</span></li>
                    <li><a>Zodiac Report</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="data-container">
    <div class="inner-container">
        <form id="frmZodiacManagement" class="scroll-form">
            <div id="gridContainer"></div>
        </form>
    </div>
</div>

<div class="wrapper">
    <div class="showDescription">
        <div><span>Zodiac Report Description</span><i class="la la-times showDescriptionClose"></i></div>
        <div class="html-editor-show"></div>
    </div>
</div>
