
@{
    ViewData["Title"] = "Add User";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/js/Area/Admin/UserManagement/AddUser.js"></script>
<div class="breadcrumb-data-1">
    <div class="row">
        <div class="col-md-6 col-5">
            <div class="breadcrumb-data-3">
                <h3 _ngcontent-hai-c46="">Add User</h3>
            </div>
        </div>
        <div class="col-md-6 col-7">
            <div class="breadcrumb-data-2 d-none d-sm-block">
                <ul>
                    <li><a>Home</a></li>
                    <li><span>/</span></li>
                    <li><a href="/admin/UserManagement/UserList">User Management</a></li>
                    <li><span>/</span></li>
                    <li><p>Add User</p></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="data-container">
    <div class="inner-container">
        <form id="frmAddUser">
            <div class="form">
                <div class="section">User Photo</div>
                <div class="row">
                    <div class="col-md-3">
                        <img src="" id="imgLogo" />
                    </div>
                    <div class="col-md-9">
                        <div class="dx-fieldset">
                            <div class="dx-field">
                                <div class="dx-field-label"></div>
                                <div id="fileuploader-container">
                                    <div id="file-uploader"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section">Personal Details</div>
                <div class="row">
                    <div class="col-md">
                        <div class="dx-fieldset">
                            <div class="dx-field">
                                <div class="dx-field-label">First Name<strong class="mandatory">*</strong></div>
                                <div class="dx-field-value">
                                    <div id="txtFirstName"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="dx-fieldset">
                            <div class="dx-field">
                                <div class="dx-field-label">Last Name<strong class="mandatory">*</strong></div>
                                <div class="dx-field-value">
                                    <div id="txtLastName"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div class="dx-fieldset">
                            <div class="dx-field">
                                <div class="dx-field-label">User Name<strong class="mandatory">*</strong></div>
                                <div class="dx-field-value">
                                    <div id="txtUserName"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="dx-fieldset">
                            <div class="dx-field">
                                <div class="dx-field-label">Email<strong class="mandatory">*</strong></div>
                                <div class="dx-field-value">
                                    <div id="txtEmail"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div class="dx-fieldset">
                            <div class="dx-field">
                                <div class="dx-field-label">Gender<strong class="mandatory">*</strong></div>
                                <div class="dx-field-value">
                                    <div id="ddlGender"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="dx-fieldset">
                            <div class="dx-field">
                                <div class="dx-field-label">Date of Birth<strong class="mandatory">*</strong></div>
                                <div class="dx-field-value">
                                    <div id="txtDob"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div class="dx-fieldset">
                            <div class="dx-field">
                                <div class="dx-field-label">Mobile<strong class="mandatory">*</strong></div>
                                <div class="dx-field-value">
                                    <div id="txtMobile"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="dx-fieldset">
                            <div class="dx-field">
                                <div class="dx-field-label">User Role<strong class="mandatory">*</strong></div>
                                <div class="dx-field-value">
                                    <div id="ddlUserRole"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md"></div>
                    <div class="col-md">
                        <div class="dx-fieldset">
                            <div class="dx-field">
                                <div class="dx-field-label"></div>
                                <div class="dx-field-value">
                                    <div id="btnSave"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



