#appLogo {
    border-radius: 164px;
    width: 100px;
    height: 100px;
}


.page-login-data-4 h6 {
    margin-top: 15px;
    font-weight: 500;
    color: #333;
}
.line-on-side {
    border-bottom: 1px solid #DADADA;
    line-height: 0.1em;
    margin: 10px 0 20px;
}
.text-center {
    text-align: center !important;
}
.card-header .card-title {
    margin-bottom: 0;
}

.card .card-title {
    font-weight: 500;
    letter-spacing: 0.05rem;
    font-size: 1.12rem;
}
.card-header:first-child {
    border-radius: calc(0.35rem - 1px) calc(0.35rem - 1px) 0 0;
}
.card-header {
    padding: 1.5rem 1.5rem;
    margin-bottom: 0;
    background-color: #FFFFFF;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
.border-0 {
    border: 0 !important;
}
.page-login-data-4 h6 {
    margin-top: 15px;
    font-weight: 500;
    color: #333;
}

.line-on-side {
    border-bottom: 1px solid #DADADA;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.text-center {
    text-align: center !important;
}

.pt-2, .py-2 {
    padding-top: 1.5rem !important;
}
.card {
    margin-bottom: 1.875rem;
    border: none;
    box-shadow: 0 1px 15px 1px rgba(62, 57, 107, 0.07);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #FFFFFF;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 0.35rem;
}
.box-shadow-2 {
    box-shadow: 0 10px 18px 0 rgba(62, 57, 107, 0.2);
}

.box-shadow-2 {
    box-shadow: 0 10px 18px 0 rgba(62, 57, 107, 0.2);
}

.p-0 {
    padding: 0 !important;
}
.line-on-side span {
    background: #FFFFFF;
    padding: 0 10px;
}

.dx-field-value
{
    width:100% !important;
}

.login-error
{
    display:none;
}

#btnLogin > .dx-button-content {
    padding: 0 !important;
}