#btnReset > .dx-button-content {
    padding: 0 !important;
}

.form {
    border: 1px solid #80808021;
    border-radius: 4px;
    width: 50%;
    margin-left: 25%;
    margin-top: 12%;
    background: white;
    box-shadow: 0px 0px 5px #8c8b8b;
    padding-top: 27px;
}