
@{
    ViewData["Title"] = "Unauthorize";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}
<link href="~/css/Area/Common/ErrorHandler/unauthorized.css" rel="stylesheet" />
<script src="~/js/Area/Common/ErrorHandler/Unauthorized.js"></script>
<div>
    <div class="msg-container">
        <div class="msg-container-icon"><img src="~/icons/iconfinder_Cancel_27836.png" /></div>
        <div class="msg-container-code"></div>
        <div class="msg-container-msg"></div>
        <div class="msg-container-login">
            <div id="btnlogin"></div>
        </div>
    </div>
</div>
