
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/js/Area/Common/Signin/ChangePassword.js"></script>
<div class="breadcrumb-data-1">
    <div class="row">
        <div class="col-md-6 col-5">
            <div class="breadcrumb-data-3">
                <h3>Change Password</h3>
            </div>
        </div>
        <div class="col-md-6 col-7">
            <div class="breadcrumb-data-2 d-none d-sm-block">
                <ul>
                    <li><a href="/dashboard/Index">Home</a></li>
                    <li><span>/</span></li>
                    <li><p>Change Password</p></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="data-container">
    <div class="inner-container">
        <form id="frmchangepassword">
            <div class="form">
                <div class="offset-md-3 offset-sm-1 offset-lg-3 col-lg-6 col-md-6 col-sm-10">
                    <div class="custom-form">
                        <div class="dx-fieldset">
                            <div class="dx-field">
                                <div class="dx-field-label">Old Password</div>
                                <div class="dx-field-value">
                                    <div id="txtOldPassword"></div>
                                </div>
                            </div>
                        </div>
                        <div class="dx-fieldset">
                            <div class="dx-field">
                                <div class="dx-field-label">New Password</div>
                                <div class="dx-field-value">
                                    <div id="txtNewPassword"></div>
                                </div>
                            </div>
                        </div>
                        <div class="dx-fieldset">
                            <div class="dx-field">
                                <div class="dx-field-label">Confirn Password</div>
                                <div class="dx-field-value">
                                    <div id="txtConfirnPassword"></div>
                                </div>
                            </div>
                        </div>
                        <div class="dx-fieldset">
                            <div class="dx-field">
                                <div class="dx-field-label"></div>
                                <div class="dx-field-value">
                                    <div id="btnChange"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


