
@{
    ViewData["Title"] = "Forget Password";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}
<link href="~/css/Area/Common/Signin/ForgetPassword.css" rel="stylesheet" />
<script src="~/js/Area/Common/Signin/ForgetPassword.js"></script>
<div class="data-container">
    <div class="inner-container">     
        <form id="frmForgetPassword">            
            <div class="form"><div class="alert alert-info" style="text-align:center;font-size:13px;padding: 9px;">Password Reset</div>
                <div class="offset-lg-1 offset-md-1 offset-sm-1 col-lg-10 col-md-10 col-sm-10">
                    <div class="custom-form">
                        <div class="dx-fieldset">
                            <div class="dx-field">
                                <div class="dx-field-label">User Name</div>
                                <div class="dx-field-value">
                                    <div id="txtUsername"></div>
                                </div>
                            </div>
                        </div>
                        <div class="dx-fieldset">
                            <div class="dx-field">
                                <div class="dx-field-label"></div>
                                <div class="dx-field-value">
                                    <div id="btnReset"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>




