
@{
    ViewData["Title"] = "New Password";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<link href="~/css/Area/Common/Signin/NewPassword.css" rel="stylesheet" />
<script src="~/js/Area/Common/Signin/NewPassword.js"></script>
<div class="data-container">
    <div class="inner-container">
        <form id="frmNewPassword">
            <div class="form">
                <div class="offset-lg-1 offset-md-1 offset-sm-1 col-lg-10 col-md-10 col-sm-10">
                    <div class="custom-form">
                        <div class="dx-fieldset">
                            <div class="dx-field">
                                <div class="dx-field-label">New Password</div>
                                <div class="dx-field-value">
                                    <div id="txtNewPassword"></div>
                                </div>
                            </div>
                        </div>
                        <div class="dx-fieldset">
                            <div class="dx-field">
                                <div class="dx-field-label">Confirm Password</div>
                                <div class="dx-field-value">
                                    <div id="txtConfirmPassword"></div>
                                </div>
                            </div>
                        </div>
                        <div class="dx-fieldset">
                            <div class="dx-field">
                                <div class="dx-field-label"></div>
                                <div class="dx-field-value">
                                    <div id="btnChange"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


